@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: rgb(235, 238, 255);
  font-family: "Montserrat", sans-serif;
  color: rgb(9, 9, 9);
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

/*#particles {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
}*/

#plane {
  position: absolute;
  visibility: hidden;
  animation-name: moveRight;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

#balloon {
  left: 20%;
  bottom: 0;
  animation-name: moveUp;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#bg-video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#hero {
  width: 100%;
  height: 100%;
  /*background-image: url("/assets/bg-forest.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#intro {
  position: relative;
  left: 0;
  top: 37%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}

#main {
  background-image: url("../assets/bg.svg");
  background-color: rgb(235, 238, 255);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

h5 {
  font-size: 20px;
  font-weight: 60;
  color: #000001;
  letter-spacing: 0.05em;
  padding: 30px;
}

h4 {
  font-size: 40px;
  font-weight: 600;
  color: #000001;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.05em;
  padding-bottom: 35px;
}

h2 {
  font-family: "Syncopate", sans-serif;
  font-weight: 600;
  font-size: 100px;
  font-weight: 120;
  color: #ffffff;
  padding: 3rem;
}

h1::after {
  content: "";
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.project {
  padding-top: 10rem;
}

.item3 {
  margin-inline: 5%;
  padding-top: 13px;
  flex: 0 1 15%;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.item3:hover {
  box-shadow: 0 8px 80px 0 rgba(31, 38, 135, 0.37);
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

.item2 {
  margin-inline: 5%;
  padding-top: 13px;
  flex: 0 1 15%;
  background-color: white;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.item2:hover {
  box-shadow: 0 8px 80px 0 rgba(31, 38, 135, 0.37);
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

.item1 {
  margin-inline: 5%;
  padding-top: 13px;
  flex: 0 1 15%;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.item1:hover {
  box-shadow: 0 8px 80px 0 rgba(31, 38, 135, 0.37);
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

.items {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  justify-content: center;
}

img {
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto;
  opacity: 0.8;
}

img:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Added */
.card {
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60%);
  grid-gap: 0px;
  grid-auto-rows: minmax(110px, auto);
  text-align: center;
  transition: 0.3s;
  justify-content: center;
}

.cardProject {
  padding-top: 8rem;
  padding-bottom: 4rem;
  padding-inline: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 90%);
  grid-gap: 0px;
  grid-auto-rows: minmax(110px, auto);
  text-align: center;
  transition: 0.3s;
  justify-content: center;
}

.miniCard {
  padding-top: 10rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 0px;
  grid-auto-rows: minmax(110px, auto);
  text-align: center;
  transition: 0.3s;
  justify-content: center;
}

.dot {
  position: absolute;
  animation-name: moveRight;
  animation-duration: 16s;
  visibility: hidden;
  height: 20px;
  width: 20px;
  background-color: rgb(228, 213, 255);
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
}

.profilcont {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.profilcont:hover {
  box-shadow: 0 8px 80px 0 rgba(31, 38, 135, 0.37);
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

.project {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.project:hover {
  box-shadow: 0 8px 80px 0 rgba(31, 38, 135, 0.37);
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

svg {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

i:hover {
  color: #3ec7ce;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #3ec7ce;
  animation: bounce 1s ease infinite;
}

/* Media queries */

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 15px;
  }
  .items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }

  .card {
    padding-top: 0;
    padding-inline: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }

  .cardProject {
    padding-top: 0;
    padding-inline: 1rem;
    grid-template-columns: 1fr;
    grid-gap: 60px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 100px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 4px;
  }
}

/* Keyframes */

@keyframes moveRight {
  0% {
    bottom: 5%;
    left: 0%;
    visibility: visible;
  }
  50% {
    bottom: 5%;
    left: 100%;
  }
  100% {
    bottom: 5%;
    left: 100%;
  }
}

@keyframes moveUp {
  0% {
    bottom: 0;
  }
  80% {
    bottom: 100%;
  }
  100% {
    bottom: 100%;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Typewriting */
.cursor {
  display: inline-block;
  width: 4px;
  background-color: rgb(255, 255, 255);
  animation: blink 1s infinite;
  z-index: 1;
}

@keyframes blink {
  0% {
    background-color: rgb(255, 255, 255);
  }
  49% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

.typed-text {
  font-size: 100px;
  font-weight: 1000;
  color: #ffffff;
  letter-spacing: 0.05em;
}

/* Hamburger MENU */
button {
  position: absolute;
  position: fixed;
  top: 9%;
  left: 93%;
  width: 50px;
  height: 50px;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
  z-index: 2;
}

.atom {
  height: 0px;
  border: 2px solid #fefefe;
  width: 45px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  background: #ffffff;
}

button:hover {
  transition-delay: 100ms;
  transform: scale(2);
}

button:hover .atom:nth-child(3):before {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #515ef2;
}

button:hover .atom {
  border: 2px solid #fff;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  animation: atom 300ms linear 1;
  width: 25px;
  top: 0px;
  background: transparent;
}

button:focus {
  outline: 0px;
}

.atom:nth-child(1) {
  top: 0px;
}

.atom:nth-child(2) {
  top: 12px;
}

.atom:nth-child(3) {
  top: 24px;
}

.atom:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: "";
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 0.25px;
}

button:hover .atom:nth-child(1) {
  transform: rotate(-33deg);
}

button:hover .atom:nth-child(2) {
  transform: rotate(90deg);
}

button:hover .atom:nth-child(3) {
  transform: rotate(33deg);
}

button:hover .atom:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
}

button:active:hover .atom:nth-child(3):before,
button:active .atom:nth-child(3):before,
button:active .atom:nth-child(2) {
  opacity: 0;
  transition: all 200ms;
}

button:active .atom {
  border: 1.5px solid #fff;
  height: 0px;
  border-radius: 0%;
  margin-left: -1px;
  margin-top: 6px;
  animation: division 300ms linear 1;
  width: 25px;
  top: 0px;
}

button:active .atom:nth-child(2) {
  width: 0px;
}

button:active .atom:nth-child(3) {
  transform: rotate(45deg);
}

button:active .atom:nth-child(1) {
  transform: rotate(-45deg);
}

@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#3c65ed, #9198e5);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  z-index: 2;
  /* hide the menu above the screen by default */
  transform: translateY(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 1s ease;
}

.showNav {
  /* show the menu */
  transform: translateY(0);
  position: fixed;
}

/* change ham image to close */
.showClose {
  z-index: 20;
}

/* basic nav styling below */

.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li a {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  border-bottom: 2px solid white;
}

/* Circle fill navbar animation */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}

nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ".";
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #bdfcff;
    border-radius: 100%;
  }
  100% {
    background: #3ec7ce;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

/* Contact Form */
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  border: 1px solid rgb(206, 206, 206); /* Gray border */
  border-radius: 15px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.7;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
  box-shadow: 0px 0px 15px #45a049;
  opacity: 1;
}

form {
  padding: 2rem;
}

label {
  position: relative;
  font-weight: 400;
  left: -43%;
}
